@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	transition:
		background-color 0.2s ease-in-out,
		color 0.2s ease-in-out;
	@apply bg-white dark:bg-zinc-900 text-black dark:text-white;
}

p {
	@apply font-thin;
}

h1 {
	@apply font-thin;
}

.movie-card {
	width: 16.666667%
}

.movies-div {
	padding-left: 80px;
	padding-right: 80px;
}

.details-img-div {
	padding-left: 80px;
	padding-right: 80px;
}

.overflow-p {
	padding-left: 160px;
	padding-right: 160px
}

.nav{
	padding-left: 80px;
}

@media (max-width : 1000px) {
	.movie-card {
		width: 40%;
	}

	.movies-div {
		padding-left: 10px;
		padding-right: 10px
	}

	.details-img-div {
		padding-left: 10px;
		padding-right: 10px;
	}

	.overflow-p {
		padding-left: 0px;
		padding-right: 0px
	}

	.nav{
		padding-left: 20px;
	}
}