@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	transition:
		background-color 0.2s ease-in-out,
		color 0.2s ease-in-out;
	@apply bg-white dark:bg-zinc-900 text-black dark:text-white;
}

p {
	@apply font-thin;
}

h1 {
	@apply font-thin;
}

.movie-card {
	width: 16.666667%;
}

.movies-div {
	padding-left: 80px;
	padding-right: 80px;
}

.first-movie-section{
	@apply absolute flex flex-col pt-32 pl-16 w-2/4 items-start text-left
}

.title{
	@apply font-semibold text-6xl
}

.details-img-div {
	padding-left: 80px;
	padding-right: 80px;
}

.about-movie {
	padding-left: 100px;
	padding-right: 100px;

	@apply pt-20 pb-40 flex flex-col items-center
}

.page-name {
	padding-left: 24px;
	padding-top: 32px;
	@apply text-2xl
}

.iframe-video {
	width: 853px;
	height: 505px;
}

.recommendations-container {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	padding: 1rem;
	padding-top: 2.5rem;
	gap: 1rem;
}

.recommendation-card {
	flex: 0 0 auto;
	width: 150px;
	text-align: center;
}

.poster {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.transparent-button{
	background-color: rgba(0, 0, 0, 0.5);
	@apply flex hover:bg-white hover:border-zinc-300 hover:text-black transition-all duration-200
}

.blob{
	@apply absolute rounded-full mix-blend-multiply filter blur-xl opacity-70 animate-blob
}

@media (max-width: 1200px) {
	.movie-card {
		width: 20%;
	}

	.first-movie-section{
		@apply  pt-16 pl-6 w-3/4 items-start text-left
	}

	.title{
		@apply text-5xl
	}

	.movies-div {
		padding-left: 10px;
		padding-right: 10px;
	}

	.details-img-div {
		padding-left: 10px;
		padding-right: 10px;
	}

	.overflow-p {
		padding-left: 0px;
		padding-right: 0px;
	}

	.about-movie {
		padding-left: 20px;
		padding-right: 20px;
	}

	.iframe-video {
		width: 560px;
		height: 340px;
	}

}

.menu_links {
	@apply text-zinc-400 hover:text-white hover:scale-110 transition-all duration-300
}

.transparent-div {
	background-color: rgba(0, 0, 0, 0.8);
	@apply flex fixed w-full h-full justify-center items-center text-2xl z-50;
}

@media (max-width: 800px) {
	.iframe-video {
		width: 460px;
		height: 240px;
	}

	.movie-card {
		width: 30%;
	}

	.first-movie-section{
		@apply  pt-8 pl-6 w-full items-start text-left
	}

	.title{
		@apply text-4xl
	}
}

@media (max-width: 600px) {
	.movie-card {
		width: 40%;
	}

	.title{
		@apply text-3xl
	}
}